Greg.RestLearning.ServiceClient/Service References/ServiceReference1/a2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:100/RestFeedService1.svc/a?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" />
  <xs:element name="RssFeed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RssFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" minOccurs="0" name="RssFeedResult" nillable="true" type="q1:Rss20FeedFormatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtomFeed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtomFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel.Syndication" minOccurs="0" name="AtomFeedResult" nillable="true" type="q2:Atom10FeedFormatter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>